.App {
  text-align: center;
}

h1 {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
  margin-bottom: 0;
}

